body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u723_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1274px;
  height:5px;
}
#u723 {
  position:absolute;
  left:0px;
  top:644px;
  width:1271px;
  height:2px;
}
#u724 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:51px;
  top:680px;
  width:737px;
  height:37px;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  white-space:nowrap;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u727 {
  position:absolute;
  left:1266px;
  top:854px;
  width:1px;
  height:200px;
}
#u728 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:548px;
}
#u731 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u732 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:44px;
  font-size:16px;
}
#u733 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u734 {
  position:absolute;
  left:30px;
  top:31px;
  width:26px;
  height:26px;
}
#u735 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:504px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:21px;
  top:63px;
  width:318px;
  height:504px;
}
#u737 {
  position:absolute;
  left:2px;
  top:244px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:21px;
  top:88px;
  width:318px;
  height:121px;
}
#u739 {
  position:absolute;
  left:2px;
  top:52px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
}
#u740 {
  position:absolute;
  left:30px;
  top:69px;
  width:267px;
  height:13px;
  font-size:11px;
  color:#AEAEAE;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:27px;
  top:99px;
  width:60px;
  height:15px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:273px;
  top:99px;
  width:58px;
  height:15px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:27px;
  top:139px;
  width:60px;
  height:15px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:27px;
  top:179px;
  width:60px;
  height:15px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u750 {
  position:absolute;
  left:23px;
  top:124px;
  width:308px;
  height:1px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u752 {
  position:absolute;
  left:23px;
  top:166px;
  width:308px;
  height:1px;
}
#u753 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754 {
  position:absolute;
  left:246px;
  top:139px;
  width:51px;
  height:16px;
}
#u755 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u754_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u756 {
  position:absolute;
  left:297px;
  top:139px;
  width:51px;
  height:16px;
}
#u757 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u756_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u758 {
  position:absolute;
  left:308px;
  top:179px;
  width:31px;
  height:15px;
  color:#666666;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  position:absolute;
  left:21px;
  top:226px;
  width:318px;
  height:42px;
}
#u761 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:400px;
  top:99px;
  width:220px;
  height:30px;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u764 {
  position:absolute;
  left:26px;
  top:859px;
  width:100px;
  height:60px;
}
#u765 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  position:absolute;
  left:190px;
  top:859px;
  width:100px;
  height:60px;
}
#u767 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:710px;
  top:859px;
  width:100px;
  height:60px;
}
#u769 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:710px;
  top:969px;
  width:100px;
  height:60px;
}
#u771 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u772 {
  position:absolute;
  left:372px;
  top:859px;
  width:100px;
  height:60px;
}
#u773 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u774 {
  position:absolute;
  left:540px;
  top:859px;
  width:100px;
  height:60px;
}
#u775 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u776 {
  position:absolute;
  left:910px;
  top:859px;
  width:100px;
  height:60px;
}
#u777 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u778 {
  position:absolute;
  left:1076px;
  top:859px;
  width:100px;
  height:60px;
}
#u779 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:126px;
  top:889px;
  width:0px;
  height:0px;
}
#u780_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u780_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:21px;
  height:20px;
}
#u781 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782 {
  position:absolute;
  left:290px;
  top:889px;
  width:0px;
  height:0px;
}
#u782_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u782_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:21px;
  height:20px;
}
#u783 {
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  position:absolute;
  left:472px;
  top:889px;
  width:0px;
  height:0px;
}
#u784_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u784_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:21px;
  height:20px;
}
#u785 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:290px;
  top:969px;
  width:100px;
  height:60px;
}
#u787 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u788 {
  position:absolute;
  left:422px;
  top:919px;
  width:0px;
  height:0px;
}
#u788_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u788_seg1 {
  position:absolute;
  left:-32px;
  top:76px;
  width:36px;
  height:8px;
}
#u788_seg2 {
  position:absolute;
  left:-39px;
  top:70px;
  width:21px;
  height:20px;
}
#u789 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:290px;
  top:999px;
  width:0px;
  height:0px;
}
#u790_seg0 {
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u790_seg1 {
  position:absolute;
  left:-54px;
  top:-80px;
  width:8px;
  height:84px;
}
#u790_seg2 {
  position:absolute;
  left:-60px;
  top:-87px;
  width:20px;
  height:21px;
}
#u791 {
  position:absolute;
  left:-100px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:640px;
  top:889px;
  width:0px;
  height:0px;
}
#u792_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u792_seg1 {
  position:absolute;
  left:56px;
  top:-10px;
  width:21px;
  height:20px;
}
#u793 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u794 {
  position:absolute;
  left:590px;
  top:919px;
  width:0px;
  height:0px;
}
#u794_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u794_seg1 {
  position:absolute;
  left:-4px;
  top:76px;
  width:124px;
  height:8px;
}
#u794_seg2 {
  position:absolute;
  left:106px;
  top:70px;
  width:21px;
  height:20px;
}
#u795 {
  position:absolute;
  left:-30px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:810px;
  top:999px;
  width:0px;
  height:0px;
}
#u796_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u796_seg1 {
  position:absolute;
  left:146px;
  top:-80px;
  width:8px;
  height:84px;
}
#u796_seg2 {
  position:absolute;
  left:140px;
  top:-87px;
  width:20px;
  height:21px;
}
#u797 {
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  position:absolute;
  left:810px;
  top:889px;
  width:0px;
  height:0px;
}
#u798_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u798_seg1 {
  position:absolute;
  left:86px;
  top:-10px;
  width:21px;
  height:20px;
}
#u799 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  position:absolute;
  left:1010px;
  top:889px;
  width:0px;
  height:0px;
}
#u800_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u800_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:21px;
  height:20px;
}
#u801 {
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:760px;
  top:859px;
  width:0px;
  height:0px;
}
#u802_seg0 {
  position:absolute;
  left:-4px;
  top:-50px;
  width:8px;
  height:54px;
}
#u802_seg1 {
  position:absolute;
  left:-10px;
  top:-57px;
  width:20px;
  height:21px;
}
#u803 {
  position:absolute;
  left:-50px;
  top:-33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804 {
  position:absolute;
  left:810px;
  top:779px;
  width:0px;
  height:0px;
}
#u804_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u804_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:84px;
}
#u804_seg2 {
  position:absolute;
  left:140px;
  top:66px;
  width:20px;
  height:21px;
}
#u805 {
  position:absolute;
  left:65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:710px;
  top:749px;
  width:100px;
  height:60px;
}
#u807 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u808 {
  position:absolute;
  left:400px;
  top:238px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u809 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:460px;
  top:240px;
  width:231px;
  height:30px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u812 {
  position:absolute;
  left:224px;
  top:248px;
  width:0px;
  height:0px;
}
#u812_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u812_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:187px;
  height:8px;
}
#u812_seg2 {
  position:absolute;
  left:175px;
  top:-1px;
  width:8px;
  height:5px;
}
#u813 {
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
