body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2910 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:550px;
}
#u2911 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2913 {
  position:absolute;
  left:100px;
  top:50px;
  width:320px;
  height:40px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u2915 {
  position:absolute;
  left:107px;
  top:60px;
  width:22px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2916 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2919 {
  position:absolute;
  left:100px;
  top:89px;
  width:320px;
  height:70px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2921 {
  position:absolute;
  left:136px;
  top:97px;
  width:50px;
  height:50px;
}
#u2922 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2923 {
  position:absolute;
  left:210px;
  top:116px;
  width:150px;
  height:15px;
}
#u2924 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2927 {
  position:absolute;
  left:100px;
  top:158px;
  width:320px;
  height:70px;
}
#u2928 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2929 {
  position:absolute;
  left:136px;
  top:166px;
  width:50px;
  height:50px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2931 {
  position:absolute;
  left:210px;
  top:185px;
  width:150px;
  height:15px;
}
#u2932 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2935 {
  position:absolute;
  left:100px;
  top:227px;
  width:320px;
  height:70px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2937 {
  position:absolute;
  left:136px;
  top:235px;
  width:50px;
  height:50px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2939 {
  position:absolute;
  left:210px;
  top:254px;
  width:150px;
  height:15px;
}
#u2940 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2943 {
  position:absolute;
  left:100px;
  top:296px;
  width:320px;
  height:70px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2945 {
  position:absolute;
  left:136px;
  top:304px;
  width:50px;
  height:50px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2947 {
  position:absolute;
  left:210px;
  top:323px;
  width:150px;
  height:15px;
}
#u2948 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2949 {
  position:absolute;
  left:100px;
  top:376px;
  width:320px;
  height:40px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2951 {
  position:absolute;
  left:60px;
  top:840px;
  width:320px;
  height:550px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  position:absolute;
  left:60px;
  top:840px;
  width:320px;
  height:40px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u2956 {
  position:absolute;
  left:67px;
  top:850px;
  width:22px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2957 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  position:absolute;
  left:60px;
  top:878px;
  width:320px;
  height:70px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2962 {
  position:absolute;
  left:96px;
  top:886px;
  width:50px;
  height:50px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  position:absolute;
  left:170px;
  top:905px;
  width:150px;
  height:15px;
}
#u2965 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2968 {
  position:absolute;
  left:60px;
  top:947px;
  width:320px;
  height:70px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2970 {
  position:absolute;
  left:96px;
  top:955px;
  width:50px;
  height:50px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  position:absolute;
  left:170px;
  top:974px;
  width:150px;
  height:15px;
}
#u2973 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2976 {
  position:absolute;
  left:60px;
  top:1016px;
  width:320px;
  height:70px;
}
#u2977 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2978 {
  position:absolute;
  left:96px;
  top:1024px;
  width:50px;
  height:50px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2980 {
  position:absolute;
  left:170px;
  top:1043px;
  width:150px;
  height:15px;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  position:absolute;
  left:60px;
  top:1085px;
  width:320px;
  height:70px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2986 {
  position:absolute;
  left:96px;
  top:1093px;
  width:50px;
  height:50px;
}
#u2987 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2988 {
  position:absolute;
  left:170px;
  top:1112px;
  width:150px;
  height:15px;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2990 {
  position:absolute;
  left:60px;
  top:1165px;
  width:320px;
  height:40px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1003px;
  height:5px;
}
#u2992 {
  position:absolute;
  left:60px;
  top:704px;
  width:1000px;
  height:2px;
}
#u2993 {
  position:absolute;
  left:2px;
  top:-7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u2994 {
  position:absolute;
  left:61px;
  top:750px;
  width:100px;
  height:29px;
  font-size:25px;
}
#u2995 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2996 {
  position:absolute;
  left:540px;
  top:850px;
  width:100px;
  height:14px;
  font-size:12px;
}
#u2997 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2998 {
  position:absolute;
  left:480px;
  top:860px;
  width:0px;
  height:0px;
}
#u2998_seg0 {
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u2999 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3000 {
  position:absolute;
  left:480px;
  top:850px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3001 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FF0000;
}
#u3002 {
  position:absolute;
  left:60px;
  top:804px;
  width:460px;
  height:18px;
  font-size:15px;
  color:#FF0000;
}
#u3003 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3004 {
  position:absolute;
  left:540px;
  top:920px;
  width:288px;
  height:14px;
  font-size:12px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u3006 {
  position:absolute;
  left:480px;
  top:930px;
  width:0px;
  height:0px;
}
#u3006_seg0 {
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u3007 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3008 {
  position:absolute;
  left:480px;
  top:920px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3009 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3010 {
  position:absolute;
  left:540px;
  top:970px;
  width:220px;
  height:14px;
  font-size:12px;
}
#u3011 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3012 {
  position:absolute;
  left:480px;
  top:970px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3013 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3014 {
  position:absolute;
  left:540px;
  top:945px;
  width:180px;
  height:14px;
  font-size:12px;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3016 {
  position:absolute;
  left:480px;
  top:945px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3017 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3018 {
  position:absolute;
  left:540px;
  top:1175px;
  width:230px;
  height:14px;
  font-size:12px;
}
#u3019 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u3020 {
  position:absolute;
  left:480px;
  top:1185px;
  width:0px;
  height:0px;
}
#u3020_seg0 {
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u3021 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3022 {
  position:absolute;
  left:480px;
  top:1175px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3023 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3024 {
  position:absolute;
  left:540px;
  top:1200px;
  width:180px;
  height:14px;
  font-size:12px;
}
#u3025 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3026 {
  position:absolute;
  left:480px;
  top:1200px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3027 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3028 {
  position:absolute;
  left:160px;
  top:219px;
  visibility:hidden;
}
#u3028_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3028_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:85px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3032 {
  position:absolute;
  left:70px;
  top:8px;
  width:60px;
  height:15px;
  text-align:center;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u3034 {
  position:absolute;
  left:35px;
  top:28px;
  width:130px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u3035 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3036 {
  position:absolute;
  left:0px;
  top:53px;
  width:200px;
  height:1px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u3038 {
  position:absolute;
  left:100px;
  top:53px;
  width:1px;
  height:33px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3040 {
  position:absolute;
  left:28px;
  top:62px;
  width:60px;
  height:15px;
  text-align:center;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3042 {
  position:absolute;
  left:122px;
  top:62px;
  width:60px;
  height:15px;
  text-align:center;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3045 {
  position:absolute;
  left:740px;
  top:1054px;
  width:200px;
  height:85px;
}
#u3046 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3047 {
  position:absolute;
  left:810px;
  top:1062px;
  width:60px;
  height:15px;
  text-align:center;
}
#u3048 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u3049 {
  position:absolute;
  left:775px;
  top:1082px;
  width:130px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3051 {
  position:absolute;
  left:740px;
  top:1106px;
  width:200px;
  height:1px;
}
#u3052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u3053 {
  position:absolute;
  left:840px;
  top:1107px;
  width:1px;
  height:33px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3055 {
  position:absolute;
  left:768px;
  top:1116px;
  width:60px;
  height:15px;
  text-align:center;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3057 {
  position:absolute;
  left:862px;
  top:1116px;
  width:60px;
  height:15px;
  text-align:center;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u3059 {
  position:absolute;
  left:540px;
  top:999px;
  width:220px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u3060 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3061 {
  position:absolute;
  left:480px;
  top:999px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u3062 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3064 {
  position:absolute;
  left:745px;
  top:1009px;
  width:160px;
  height:35px;
}
#u3065 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3066 {
  position:absolute;
  left:760px;
  top:1019px;
  width:110px;
  height:13px;
  font-size:10px;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u3068 {
  position:absolute;
  left:870px;
  top:1009px;
  width:35px;
  height:35px;
  font-size:11px;
  color:#FFFFFF;
}
#u3069 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
